.hero-section{
    max-width: 140vw;
    width: 100%;
    min-height: 110vh;
    background: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    
    .dados-filme{
        position: absolute;
        bottom: 20vh;
        margin-left: 10vw;
        font-weight: bold;
        h2{
            font-size: 48px;
        }
        .estilo{
            button{
                font-size: 16px;
                background-color: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(8px);
                border: 2px solid #fff;
                border-radius: 12px;
                padding: 6px;
            }
        }
    }
    
    .dados{
        position: absolute;
        bottom: -15vh;
        display: flex;
        gap: 24px;
        left: 50%;  
        transform: translateX(-50%);
        .play{
            background: #27ae60;
        }
        &--btn {
            position: relative;
            bottom: 10vh ;
            padding: 24px 80px;
            border-radius: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(8px);
            
            
            .title {
                position: absolute;
                top: 0;
                left: 8px;
                writing-mode: vertical-rl;
                transform: rotate(180deg); /* Para que o texto comece de cima */
                text-align: center;
                font-weight: bold;
                font-size: 12px;
                height: 100%;
                color: rgba($color: #fff, $alpha: 0.3);
                letter-spacing: 4px;
                }
            .content {
                z-index: 1; /* Garante que o conteúdo seja exibido acima do título */
                font-size: 20px;
                font-weight: bold;
            }
            }
    }
} 
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -10vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent 100%);
    pointer-events: none;
}
@media (max-width: 1023px){
    .hero-section{
        background-image: url(../images/backgroundMobile.jpg);
        padding-top: calc(50vw + 25px);
        background-size: contain ;
        background-repeat: no-repeat;
        .dados-filme{
            bottom: 15vh;
        }
        .dados{
            position: relative;
        padding: 144px 0 24px 0;
        display: block;
        &--btn{
            padding: 48px;
            bottom: -30vh;
            margin: 24px;
        }
        }
    }
}